<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="firstPage">EMSystem</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" (click)="logOut()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>


<div style="margin-top: 20%; color: darkblue;" class="container; div-center-container">
  <a class="btn btn-primary" href="crudDevicePage">Devices Page</a>
  <a style="margin-top: 10%" class="btn btn-primary" href="crudClientPage">Clients Page</a>
  <a style="margin-top: 20%" class="btn btn-primary" href="chatAdminPage">Chat with Clients</a>
</div>
