<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="firstPage">EMSystem</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" (click)="logOut()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="parent">
  <div style="margin-left: 10px; margin-right: 10px" class="card-header">
    <form (ngSubmit)="seeChart()">
      <div style="color: darkblue" class="mb-sm-3">
        <label for="deviceIDs">Device ID</label>
        <select class="form-control"  id="deviceIDs"
                required
                [(ngModel)]="deviceIDSelect" name="deviceIDs">
          <option *ngFor="let deviceID of deviceIDList" [value]="deviceID">{{deviceID}}</option>
        </select>
      </div>
<!--      <div class="container">-->
<!--        <ejs-datepicker [(ngModel)]="dateValue" name="datepicker" placeholder="Select a date" [value]="dateValue"></ejs-datepicker>-->
<!--      </div>-->
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Select a date" [(ngModel)]="dateValue" name="picker" [value]="dateValue">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <button type="button" class="btn btn-primary" (click)="seeChart()">See chart</button>
    </form>
  </div>
</div>

<div style="margin-left: 5%; margin-right: 5%" class="chart-container">
  <canvas  id="chart" >{{ chart }}</canvas>
</div>
